@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

#nav-wrapper {
    height: 100%;
}
#forum-nav {
    overflow: hidden;
    position: sticky;
    top: 0;
    overflow-x: hidden;
    height: 100%;
}
#page {
    overflow: hidden;
    height: fit-content;
    width: 95vw;
    top: auto;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 100px;

    overflow-x: hidden;

    font-family: 'Open Sans', sans-serif;
}
#forum-contents {
    width: 98%;
    max-width: 1100px;
    margin: auto auto;

    margin-top: 20px;
    margin-bottom: 20px;

    padding: 1px 50px 20px 50px;
    border-radius: 10px;
    background-color: #081c35d5;
    color: white;
}

.category {
    font-size: xx-large;
    color: white;

    display: inline-block;
    min-height: 100px;
    min-width: 200px;
    background-color: #0f166e;

    cursor: pointer;

    margin: 10px;

    border-radius: 5px;
}
.thread {
    font-size: x-large;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    display: inline-block;
    min-height: 50px;
    height: fit-content;

    width: 98%;
    max-width: 1000px;
    background-color: #0f166e;

    cursor: pointer;

    margin: 10px;

    border-radius: 5px;
}
#forum-contents h1 {
    font-size: 250%;
}
#thread-contents {
    font-size: large;
}
#thread-contents h1 {
    font-size: xx-large;
    font-weight: bold;
}
#thread-contents h2 {
    font-size: xx-large;
}
#thread-contents h3 {
    font-size: x-large;
}
#thread-contents ul {
    list-style-type: circle !important;
}
#thread-contents pre code {
    font-family: 'Courier New', Courier, monospace;
}
#breadcrumb {
    margin-top: 0;

    background-color: #0f166e;

    min-height: 70px !important;
    height: fit-content !important;
    max-height: 50vh !important;
    max-width: 100%;

    padding-left: 18px;
    padding-right: 0px;
}
#breadcrumb div div a {
    cursor: pointer;
}

.input-field textarea {
    min-height: 100px;
}

#add-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#mod-button {
    width: fit-content;
    position: fixed;
    bottom: 30px;
    left: 30px;
}
#mod-button ul {
    width: fit-content !important;
    bottom: 100px;
    left: 0;
}

code {
    display: inline;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;

    border-radius: 4px;

    overflow-x: auto;
    
    color: #bccddf;
    background: #2B2B2B;

    font-size: 15px;
    font-family: monospace;
}

pre code {
    display: block;

    border-radius: 10px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.m-padding {
    padding-left: 10.5px;
    padding-right: 10.5px;
}
#create-tabs {
    margin-bottom: 40px;
}
.create-buttons {
    margin-top: 40px;
}