#navbar {
    max-width: 100%;
    min-height: 68px;
}
span {
    font-weight: bold;
}
.nav-wrapper {
    width: 100vw;
    padding-right: 10px;
    justify-content: center;

}
.brand-logo {
    margin-left: 10px;
    color: #ffe70a !important;
}
@media only screen and (max-width: 992px){
.brand-logo {
    margin-left: 50px !important;
}}
#sidenav-logo {
    font-size: xx-large;
    margin: auto auto;
}
#sidenav-logo-wrapper {
    min-height: 70px;
    background-color: #0f166e;
}
#page-load {
    margin-right: 10px;
}
#page-warn {
    margin-right: 30px;
}