.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer form {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 30%;
    text-align: left;
}

.formContainer input[type='submit'] {
    margin-top: 15px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .formContainer form {
        width: 80%;
    }
}