<div id="create-topic-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div id="create-tabs" class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="" href="#create-thread">Thread</a></li>
                    <li class="tab col s3"><a class="" href="#create-category">Kategorie</a></li>
                </ul>
            </div>
            <div id="create-thread">
                <h4 class="m-padding">Thread erstellen</h4>
                <form action="/api/content/create/" method="POST">
                    <input type="hidden" name="type" value="thread">
                    <input type="hidden" name="location" value="" class="location-autoupdate" id="create-location">
        
                    <div class="input-field col s12">
                        <input type="text" name="name" id="thread-title" class="input-field">
                        <label for="thread-title">Titel</label>
                    </div>
                    
                    <div class="input-field col s12">
                        <textarea name="content" id="thread-content" class="materialize-textarea"></textarea>
                        <label for="thread-content">Inhalt des Threads (Markdown/Plaintext)</label>
                        <a class="btn-floating btn-large waves-effect waves-light red" onclick="create_markdown_edit()"><i class="material-icons">edit</i></a>
                        <-- Diese Funktion benutzt <a href="http://stackedit.io" target="_blank">"StackEdit"</a>. 
                    </div>
        
                    <div class="row m-padding">
                        <button class="btn waves-effect waves-light create-buttons" onclick="create_thread()">
                            Thread erstellen
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </form>
            </div>
            <div id="create-category">
                <h4 class="m-padding">Kategorie erstellen</h4>
                <form action="/api/content/create/" method="POST">
                    <input type="hidden" name="type" value="category">
                    <input type="hidden" name="location" value="" class="location-autoupdate" id="create-location">
        
                    <div class="input-field col s12">
                        <input type="text" name="name" id="thread-title" class="input-field">
                        <label for="category-title">Titel</label>
                    </div>
        
                    <div class="row m-padding">
                        <button class="btn waves-effect waves-light create-buttons" onclick="create_thread()">
                            Kategorie erstellen
                            <i class="material-icons right">add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
    </div>
</div>

<script src="https://unpkg.com/stackedit-js@1.0.7/docs/lib/stackedit.min.js"></script>
<script>
    const create_se_el = document.getElementById("thread-content");
    const create_stackedit = new Stackedit();

    function create_markdown_edit() {
        // Open the iframe
        create_stackedit.openFile({
            name: '', // with an optional filename
            content: {
            text: create_se_el.value // and the Markdown content.
            }
        });
    }

    // Listen to StackEdit events and apply the changes to the textarea.
    create_stackedit.on('fileChange', (file) => {
        create_se_el.value = file.content.text;
    });

    $(document).ready(() => {
        $('.tabs').tabs();
    });
</script>