<div id="move-content-modal" class="modal">
    <div class="modal-content">
        <h3>Element ausschneiden</h3>
        <p>Soll das folgende Element tatsächlich ausgeschnitten werden?</p>
        <p>ALLE Inhalte aus diesem Element werden dadurch mit verschoben!</p>
        <p>Das Element kann nicht in ein Unterelement eingefügt werden!</p>

        <table class="stripped highlight responsive-table">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td id="move-modal-name"></td>
                </tr>
                <tr>
                    <td>Typ</td>
                    <td id="move-modal-type"></td>
                </tr>
                <tr>
                    <td>ID</td>
                    <td id="move-modal-id"></td>
                </tr>
            </tbody>
        </table>

        <form action="/api/content/moderate/cut/" method="get">
            <input class="move-modal-form-id" type="hidden" name="id" value="">
            <button class="move-modal-submit btn waves-effect waves-light brown" type="submit" style="color: white;">Ausschneiden
                <i class="material-icons right">content_cut</i>
            </button>
        </form>
        <br><br>
        <h4>Element einfügen</h4>
        <p>
            Das Element, dass zuletzt verschoben wurde, hier einfügen. <br>
            Daten s.h. oben!
        </p>
        <form action="/api/content/moderate/paste/" method="get">
            <input class="move-modal-form-id" type="hidden" name="target" value="">
            <button class="move-modal-submit btn waves-effect waves-light brown" type="submit" style="color: white;">Einfügen
                <i class="material-icons right">content_paste</i>
            </button>
        </form>
    </div>

    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Abbrechen</a>
    </div>
</div>