<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/materialize/css/materialize.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/forum.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Forum</title>
</head>
<body>
    <ul id="mobile-nav" class="sidenav sidenav-close">
        <div id="sidenav-logo-wrapper" class="valign-wrapper">
            <a href="/" class="brand-logo" id="sidenav-logo">Logo</a>
        </div>
    </ul>

    <div id="forum-nav">
        {% include "components/navbar.html" %}

        <nav id="breadcrumb">
            <div class="nav-wrapper">
                <div class="col s12">
                <a id="start-link" onclick="location_change('/forum/')" class="breadcrumb">Forum</a>
                </div>
            </div>
        </nav>
    </div>

    <div id="page">
        <button id="add-button" data-target="create-topic-modal" class="btn modal-trigger"><i class="material-icons left">add</i>erstellen</button>

        <div id="forum-contents" class="center-align"></div>    
    </div>
    
    {% include "components/modals/create.html" %}
</body>

<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script src="/public/js/forum_page.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
    });
</script>

{% include "components/script.html" %}

</html>