<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/materialize/css/materialize.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Start</title>
</head>
<body>
    <ul id="mobile-nav" class="sidenav sidenav-close">
        <div id="sidenav-logo-wrapper" class="valign-wrapper">
            <a href="/" class="brand-logo" id="sidenav-logo">Logo</a>
        </div>
    </ul>
    
    {% include "components/navbar.html" %}

    <main>
        {% if current_user.is_authenticated %}
            <p>Hi {{ current_user.username }}!</p>    
            <a href={{ url_for("user.logout") }}>Logout</a>
        {% else %}
            <a href={{ url_for("user.login") }}>Nicht eingeloggt!</a>
        {% endif %}
    </main>
    {% include "components/footer.html" %}
    {% include "components/script.html" %}
</body>
</html>