<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/public/css/common.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Register</title>
</head>
<body>
    {% include "components/navbar.html" %}

    {% include "components/modals/register.html" %}
    
    {% include "components/flash.html" %}
    {% include "components/script.html" %}

    <script src="/public/js/user.js"></script>
</body>
</html>