<footer class="page-footer">
    <div class="container">
        <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Powered by BulletFlask</h5>
            <p class="grey-text">
                BulletFlask ist eine hochflexible Forum Software. BulletFlask ist OpenSource und unter GPL-3.0 lizensiert.
                Das macht es jedem kostenfrei möglich, diese Software zu betreiben.
            </p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
            <li><a class="grey-text text-lighten-3" href="/home/">Home</a></li>
            <li><a class="grey-text text-lighten-3" href="/forum/">Forum</a></li>
            <li><a class="grey-text text-lighten-3" href="/impressum/">Impressum</a></li>
            <li><a class="grey-text text-lighten-3" href="/datenschutz/">Hinweis zum Datenschutz</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
        © 2021 Sönke Klock
        <a class="grey-text text-lighten-4 right" href="https://github.com/iTechnious/BulletFlask" target="_blank">GitHub</a>
        </div>
    </div>
</footer>