.thread {
    font-size: x-large;
    color: white;
    padding: 10px;

    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;

    background-color: #0f166e;
    cursor: pointer;

    margin: 10px;
    border-radius: 5px;
}
.thread p {
    margin: 0;
}