#forum-content,
#forum-current {
    margin: auto auto;
    height: fit-content;
    width: 90vw;
    max-width: 1000px;
    padding-bottom: 10px;
}
#forum-current {
    padding-bottom: 10px;

    word-wrap: break-word;
}

.category,
.thread {
    word-wrap: break-word;
}

code {
    display: inline;

    padding: 4px;

    border-radius: 4px;

    overflow-x: auto;
    max-height: 70vh;

    color: #bccddf;
    background: #2B2B2B;

    font-family: monospace;
}

pre code {
    display: block;

    border-radius: 10px;

    padding: 20px 10px;
}

pre code::-webkit-scrollbar {
    -webkit-appearance: none;
    background-clip: border-box;
}
pre code::-webkit-scrollbar:vertical {
    width: 11px;
}
pre code::-webkit-scrollbar:horizontal {
    height: 11px;
}
pre code::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}
pre code::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}